*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

main {
    position: relative;
}

h2, h3 {
    font-family: "Space Grotesk", sans-serif;
}

p {
    font-family: "DM Sans", sans-serif;
}

button {
    font-family: "DM Sans", sans-serif;
    border: transparent;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

/* HEADER */

header {
    padding: 2.5rem 3.125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: slide-in-top 1.2s ease-in-out;
    background-color: rgba(243, 215, 183, 1);
}

nav {
    display: flex;
    gap: 1.25rem;
}


.links {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    transition: color 0.3s ease-in-out;
}

.links:hover {
    color: rgba(10, 119, 95, 1);
}

@keyframes slide-in-top {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 0;
    right: -600px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    transition: .3s ease;
    height: 100vh;

}


.off-screen-menu.active {
    right: 0;
}

.hamburger {
    display: none;
    
}

.nav-bar {
    padding: 1rem;
    display: flex;
}



/* ham menu */
.ham-menu {
    height: 40px;
    width: 30px;
    margin-left: auto;
    position: relative;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.ham-menu:hover {
    transform: scale(1.1); 
}

.ham-menu span {
    height: 4px; 
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    
}

li {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}



/* HERO */

.hero {
    width: 100%;
    background-color: rgba(243, 215, 183, 1);
    display: flex;
    animation: fade-in 1.5s ease-in-out;
    animation: slide-in-left 1.5s ease-in-out;
    justify-content: space-between;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.quti {
    position: absolute;
    top: -5.625rem;
    left: -7.5rem;
}

.hero-left {
    width: 55%;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    margin-top: 8.125rem;
}

.hero-right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    
}

.birinchi {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 80%;
}

.hero-matn {
    width: 70%;
    margin-right: 10%;
    font-size: 1rem;
    font-weight: 400;  
}

.button1 {
    background-color: rgba(10, 119, 95, 1);
}

.button1:hover {
    transform: scale(1.1);
    background-color: rgba(8, 99, 79, 1);
}

.middle {
    background-color: rgba(248, 248, 242, 1);
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ikkinchi {
    font-size: 2.8125rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
}

.mid-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vektor {
    position: absolute;
    left: -2.625rem;
    top: 2.5rem;
}

.vektor1 {
    position: absolute;
    right: -4.5rem;
    bottom: 37.5rem;
}

.vektor2 {
    position: absolute;
    right:  -4.25rem;
    top: 40rem;   
}

.vektor3 {
    position: absolute;
    left: -4.25rem;
    bottom: 8.125rem;
}

.card1 {
    display: flex;
    margin-top: 4.0625rem;
    align-items: center;
}

.card2 {
    display: flex;
    align-items: center;
}


.uchinchi {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 7%;
}

.card-left {
    margin-left: -2.5rem;
}

.card-left:hover {
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.1);
}

.matn-card {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.9375rem;
    color: rgba(51, 51, 51, 1);
    width: 80%;
}


/* MIDDLE-BOTTOM */

.middle-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(201, 155, 103, 1);
    margin-top: 4.375rem;
    position: relative;
    max-height: 40rem;

}

.bot-card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beshinchi {
    font-size: 3.125rem;
    font-weight: 780;
    text-align: center;
    padding-top: 3.4375rem;
    text-transform: uppercase;
    color: white;
}

.bot-card-matn {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    width: 85%;
    color: rgba(255, 255, 255, 1);
    margin-top: 1.25rem;
    word-spacing: 0.1875rem;
}


.bot-card-bottom {
    display: flex;
    gap: 1.25rem;
    margin-top: 3.125rem;
}

.alfred {
    position: absolute;
    top: -3.4375rem; 
}

/* BOTTOM */

.bottom {
    width: 100%;
    height: auto;
    background-color: rgba(10, 119, 95, 1);
    margin-top: 22%;
    position: relative;
    margin-bottom: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oltinchi {
    font-size: 3.125rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3.125rem;
}

.sticker {
    position: absolute;
    right: 4.375rem;
    top: 2.5rem;
}

.rasm {
    margin-top: 7.5rem;
}


.kartalar {
    margin-left: 1.875rem;
    margin-top: 2rem;
    display: flex;
    gap: 1.25rem;
}


.karta {
    width: 27.0625rem;
    background-color: rgba(248, 248, 242, 1);
    border-radius: 1.25rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.karta:hover {
    transform: scale(1.1);
    border: 0.125rem solid black;
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    
}


.yettinchi {
    font-size: 4rem;
    font-weight: 400;
    color: rgb(67, 66, 66);
    margin-top: 1.875rem;
}

.sakkizinchi {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 1.75rem;
    color: rgba(51, 51, 51, 1);
}

.matn-oxiri {
    
     width: 70%;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 0.625rem;
    color: rgba(51, 51, 51, 1);
}

.button11 {
    background-color: rgba(201, 155, 103, 1);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: rgba(243, 215, 183, 1);
    padding: 2rem 0;
    animation: fade-in 1.5s ease-in-out;
}

.foot {
    display: flex;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.icons img {
    transition: transform 0.3s ease-in-out;
}

.icons img:hover {
    transform: scale(1.2);
}

footer h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    
}

.vektor, .sticker, .quti, .alfred {
    max-width: 100%;
    overflow: hidden;
}


@keyframes slide-in-left {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}






@media (max-width: 768px) {

    .hamburger {
        display: block;
    }


    nav {
        display: none;
    }


    .hero {
        flex-direction: column-reverse;
    }

    .hero-left, .hero-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-matn {
        width: 80%;
    }

    .hero-right img {
        border: 5px solid rgba(10, 119, 95, 1);
        border-radius: 17px;
        width: 89%;
        height: 89%;
        transition: transform 0.3s ease-in-out;
    }

    .hero-right img:hover {
        transform: scale(1.05);
    }

    .kartalar {
        margin-right: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .karta {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


    nav {
        display: none;
    }

    .hero-card {
        flex-direction: column-reverse;
    }

    .hero-left, .hero-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chiziq {
        margin: 1rem 0;
        width: 80%;
        height: 2px;
        background-color: rgba(10, 119, 95, 1);
    }

    .hero-matn {
        text-align: center;
        margin-left: 1rem;
    }

    .hero-right img {
        border: 5px solid rgba(10, 119, 95, 1);
        border-radius: 17px;
        width: 89%;
        height: 89%;

    }

    .hero-left {
        margin-top: 4.125rem;
        margin-bottom: 4rem;
    }

    .fred {
        display: none;
    }

    .card1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .card-2 {
        flex-direction: column;
    }

    .card-right {
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }

    .card-right1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bot-card-bottom {
        display: none;
    }

    .bot-card {
        height: 20rem;
    }

    .alfred {
        display: none;
    }

    .bot-card-matn {
        width: 90%;
        margin-bottom: 4rem;
    }

    .rasm {
        display: none;
    }

    .sticker {
       display: none;
    }
    
    .sakkizinchi {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .matn-oxiri {
        width: 90%;
        
        margin-bottom: 2rem;
    }

    .bottom {

    }

    .foot {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


    .vektor, .vektor1, .vektor2, .vektor3 {
        display: none;
    }

    h2, h3 {
        width: 85%;
        text-align: center;
    }
}
