*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.hero {
    width: 100%;
    background-color: rgba(243, 215, 183, 1);
}

.Rectangle {
    height: 43.15625rem;
}

header {
    padding: 2.5rem 3.125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 1.25rem;
}

.links {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}

.hero-card {
    display: flex;
}

.quti {
    position: absolute;
    top: -5.625rem;
    left: -7.5rem;
}

.hero-left {
    width: 55%;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    margin-top: 8.125rem;
}

.hero-right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.birinchi {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.hero-matn {
    width: 27rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.button1 {
    background-color: rgba(10, 119, 95, 1);
    border: transparent;
    padding: 1rem 1.5rem;
    border-radius: 1.875rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.middle {
    background-color: rgba(248, 248, 242, 1);
    height: auto;
    width: 100%;
    position: relative;
    
}

.ikkinchi {
    font-family: "Roboto", sans-serif;
    font-size: 2.8125rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5.9375rem;
}

.mid-card {
    max-width: 75rem;  
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(202, 202, 202);
}

.vektor {
    position: absolute;
    left: -10.625rem;
    top: 2.5rem;
}

.vektor1 {
    position: absolute;
    right: -12.5rem;
    bottom: 37.5rem;
}

.vektor:hover {
    transform: scale(1.1);
}

.vektor1:hover {
    transform: scale(1.1);
}

.vektor2:hover {
    transform: scale(1.1);
}

.vektor3:hover {
    transform: scale(1.1);
}

.vektor2 {
    position: absolute;
    right: -11.25rem;
    bottom: 40.625rem;
}

.vektor3 {
    position: absolute;
    left: -11.25rem;
    bottom: 8.125rem;
}

.card1 {
    display: flex;
    margin-top: 4.0625rem;
    align-items: center;
}

.card2 {
    display: flex;
    align-items: center;
}

.card3 {
    display: flex;
    align-items: center;
}

.card4 {
    display: flex;
    align-items: center;
}

.uchinchi {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 7%;
}

.card-left {
    margin-left: -2.5rem;
}

.card-left:hover {
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.1);
}

.matn-card {
    font-family: "Roboto", sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    width: 28.3125rem;
    height: 4.25rem;
    margin-top: 0.9375rem;
    color: rgba(51, 51, 51, 1);
}


.bot-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(201, 155, 103, 1);
    margin-top: 4.375rem;
    position: relative;
    height: 40rem;

}

.bot-card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beshinchi {
    font-family: "Roboto", sans-serif;
    font-size: 3.125rem;
    font-weight: 780;
    text-align: center;
    padding-top: 3.4375rem;
    text-transform: uppercase;
    color: white;
}

.bot-card-matn {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    width: 45.625rem;
    color: rgba(255, 255, 255, 1);
    margin-top: 1.25rem;
    word-spacing: 0.1875rem;
}

.middle-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bot-card-bottom {
    display: flex;
    gap: 1.25rem;
    margin-top: 3.125rem;
}

.alfred {
    position: absolute;
    top: -3.4375rem;
    /* left: -2.5rem; */
}

.bottom {
    width: 100%;
    height: auto;
    background-color: rgba(10, 119, 95, 1);
    margin-top: 22%;
    position: relative;
    margin-bottom: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qoplama {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oltinchi {
    font-family: "Roboto", sans-serif;
    font-size: 3.125rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3.125rem;
}

.sticker {
    position: absolute;
    right: 4.375rem;
    top: 2.5rem;
}

.rasm {
   
    margin-top: 7.5rem;
}

.karta1, .karta2, .karta3 {
    width: 27.0625rem;
    height: 24.75rem;
    background-color: rgba(248, 248, 242, 1);
    border-radius: 1.25rem;
}


.karta1:hover, .karta2:hover, .karta3:hover {
    transform: scale(1.1);
    border: 0.125rem solid black;
}


.kartalar {
    margin-left: 1.875rem;
    margin-top: 2rem;
    display: flex;
    gap: 1.25rem;
}

.yettinchi {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: rgb(67, 66, 66);
    text-align: end;
    margin-top: 1.875rem;
    margin-right: 1.25rem;
}

.sakkizinchi {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 3.75rem;
    margin-left: 1.25rem;
    color: rgba(51, 51, 51, 1);
}

.matn-oxiri {
    width: 24.0625rem;
    height: 7rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    color: rgba(51, 51, 51, 1);
}

.button11 {
    background-color: rgba(201, 155, 103, 1);
    border: transparent;
    padding: 1rem 1.5rem;
    border-radius: 1.875rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

footer {
    width: 100%;
    background-color: rgba(243, 215, 183, 1);
    margin-bottom: 10%;
}

.foot {
    display: flex;
    margin-top: 4.25rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2rem;
}

footer h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    
}



@media (max-width: 768px) {
    nav {
        display: none;
    }

    .hero-card {
        flex-direction: column-reverse;
    }

    .hero-left, .hero-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-right img {
        border: 5px solid rgba(10, 119, 95, 1);
        border-radius: 17px;
        width: 89%;
        height: 89%;

    }

    .hero-left {
        margin-top: 4.125rem;
        margin-bottom: 4rem;
    }

    .fred {
        display: none;
    }

    .card1, .card3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card2, .card4 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .card-right {
        margin-left: 0;
        margin-right: 0;
        
    }

    .bot-card-bottom {
        display: none;
    }

    .bot-card {
        height: 20rem;
    }

    .alfred {
        display: none;
    }

    .bot-card-matn {
        width: 90%;
    }

    .rasm {
        display: none;
    }

    .sticker {
       display: none;
    }

    .kartalar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .foot {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
